@import "tailwindcss";

@layer base {
  .hide {
    display: none;
  }

  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .font-retro {
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    letter-spacing: 0.5px;
  }

  .setting-panel {
    font-family: initial !important;
  }
}
